.accordions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordeon {
    padding: 1px 24px;
    width: 50%!important;

}

@media (min-width:551px) and (max-width:1020px) {
    .accordeon {
        width: 55%!important;
    }
}