.header {
    margin: 2rem 4rem 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
  width: 17%;
  height: 5%;
}
.nav {
  width: 29%;
  display: flex;
  column-gap: 5%;
}
.navhome {
      width: 48%;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 142.6%;
      display: flex;
      align-items: flex-end;
      text-align: center;
      text-decoration-line: none;
      color: #ff6060;
      justify-content: center;
}
.navhome:hover {
  text-decoration-line: underline;
}
.navabout {
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #ff6060;
  width: fit-content;
  text-decoration-line: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 142.6%;
  justify-content: center;
}
.navabout:hover {
  text-decoration-line: underline;
}

@media (max-width: 480px) {
  .header {
      margin: 1rem 2rem 0 2rem;

      }
      .logo {
          width: 46.7%;
          height: 10%;
      }
      .nav {
          width: 50%;
      }
      .navhome {
          font-size: 12px;
      }
      .navabout {
          font-size: 12px;
      }
}

@media (min-width: 481px) and (max-width: 768px) {
.header {
      margin: 1rem 2rem 0 2rem;
  }
  .logo {
      width: 26.7%;
      height: 8%;
  }
  .nav {
      width: 40%;
  }
  .navhome {
      font-size: 16px;
  }
  .navabout {
      font-size: 16px;
  }
}