.wrapper {
    display: flex;
    justify-content: center;
    width: 45%;
}
.accordeon {
    width: 40%;
}




.accordeon_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#FF6060;
    color: white;
    width: 100%;
    align-items: center;
    cursor: pointer;
    border: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.accordeon_header h2{
    padding-left: 10px;
}

.icone {
    width: 20px;
    transform: rotate(-180deg);
    transition: transform 0.2s ease-in-out;
    margin-right: 16px;
}

.icone_ouverte {
    transition: transform 0.2s ease-in-out;
    transform: rotate(0deg);
    cursor: pointer;
    margin-right: 16px;
}

.accordeon_content {
    background-color: #f7f7f7;
    color: #FF6060;
    line-height: 24px;
    padding-left: 2px;
    padding-right: 2px;
    width: 100%, i !important;
    
}
.accordeon_content ul {
    display: flex;
    flex-direction: column;
    margin: 1px 1px 20px -19px;
    padding-top: 8px;
}

.accordeon_content_hidden {
    height: 0px;

}
.accordeon_content_hidden ul {
    opacity: 0;
}



.accordeon_content>ul li {
    text-decoration: none;
    list-style: none!important;
}


@media (max-width: 480px) {
    .accordeon {
        padding: 5%;
        width: 90%;
    }
    
}